Package: kr.xsf1re.flyjbx
Name: FlyJB X
Depends: mobilesubstrate, applist (>= 1.5.15~beta1), preferenceloader
Conflicts: kr.xsf1re.flyjb
Version: 1.0.0
Architecture: iphoneos-arm
Description: You can HIDE Doing jailbreak your iDevice.
Maintainer: XsF1re
Author: XsF1re
Section: Tweaks
Icon: file:///Library/PreferenceBundles/flyjbprefs.bundle/icon@2x.png